extends layout

block content
  h1 #{pr.title} ##{pr.number}

  h2 Status
  if noChanges
    p No changes!
  else
    p Dependencies have been modified

  h2 Dependency Changes
  each diff in diffs
    h3 #{diff.name}
    each d in diff.diff
      if d.kind === 'N'
        p Added: #{d.path} #{d.rhs}
      if d.kind === 'D'
        p Deleted: #{d.path} #{d.lhs}
      if d.kind === 'E'
        p Edited: #{d.path}, was: #{d.lhs}, is: #{d.rhs}

  h2 Dependencies
  h3 Base
  p #{JSON.stringify(baseDeps)}

  h3 Head
  p #{JSON.stringify(headDeps)}
