extends layout

block content
  h1 #{repo}

  h2 Dependencies
  each manifest in manifests
    h3 #{manifest.name}
    p #{manifest.path} (#{manifest.sha})

    h4 Dependencies
    p #{JSON.stringify(manifest.deps)}

    h4 Latest versions
    p #{JSON.stringify(manifest.lib)}
