extends layout

block content
  .row
    .col-md-8
      h1
        form.pull-right(action='/webhooks', method='POST')
          input(type='hidden', name='repo', value='#{repo.full_name}')
          input.btn.btn-default(type='submit', value='Track')

        span #{repo.full_name}

      p #{repo.description}

      each manifest in manifests
        h3
          span #{manifest.name}
          |: 
          a(href='https://github.com/#{repo}/blob/master/#{manifest.path}') #{manifest.path}

        ul
          each dep in Object.keys(manifest.deps)
            li
              a(href='http://libraries.io/#{manifest.name}/#{dep}') #{dep}
              | 
              small  #{manifest.deps[dep]}/#{manifest.lib[dep] || 'unknown'}
